/* Android-specific styles */
/* Most of these are due to the top status line that overlaps HTML text. Apple
*  recommends padding the top with the same color (i.e., the padding-top on the main_title style below);
*  the other scroller styles are also bumped down to accomodate for this extra space. Also note that this
*  value varies from model to model. On the non-notched phones, it's 20px; on the iPhone X it's 44px.
*  Apple recommends using the safe-area-inset-<x> vars. */
.main_title {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: max(env(safe-area-inset-top), 20px);
}
#projTitle {
    line-height:52px;
}
#DocTitle {
    height: 51px;
}
.scroller-bottom-tb {
    bottom: max(calc(env(safe-area-inset-bottom) + 6px), 70px);
}
.bottom-tb {
    padding-bottom: max(calc(env(safe-area-inset-bottom) + 6px), 70px);
}
@keyframes redraw{
    0% {opacity: 1;}
    100% {opacity: .99;}
}

